html {
  background-color: slategray;
}

.App {
  text-align: center;
  background-color: slategray;
}


/*------------------------------CONTAINER STYLES 1-3------------------------ */
.main {
  margin-top: 10%;
  border: solid 2px white;
  border-radius: 20px;
  background-color: white;
  display: flex;
  margin-left: auto;


}



.c1 {
  margin-top: 1rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
  padding-right: 9rem;
  height: 568px;
  display: flex;
  background-image: url('../../assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
}

.c1 p {
  margin: 0;
  padding: 0;
}

.c2 {
  text-align: left;
  padding-left: 4rem;
  margin-top: 3rem;
  margin-left: 2rem;
  width: 100%;
}

/* ------------------------------ SECTIONS STYLES------------------------ */



.info-text {
  width: auto;
  white-space: nowrap;
  text-align: left;
  margin-left: 1rem;
  margin-top: 2rem;
  color: white;
}



/* INFO NUMBERS STYLE-------- */


.numbers p {
  color: white;
}

.step-number-1 {
  border: 1px solid white;
  margin-top: 2.3rem;
  margin-left: 1rem;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}

.step-number-2 {
  border: 1px solid white;
  margin-top: 2.4rem;
  margin-left: 1rem;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}

.step-number-3 {
  border: 1px solid white;
  margin-top: 2.2rem;
  margin-left: 1rem;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}

.step-number-4 {
  border: 1px solid white;
  margin-top: 2.4rem;
  margin-left: 1rem;
  border-radius: 15px;
  padding: 3px 10px 3px 10px;
}



/*--------------------------FORMIK STYLESHEET------------------------ */

.label {
  font-size: 12px;
}

.form-control {
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.form-control Label {
  margin: 0;
}

/* ----------------------------- SELECT PLAN STYLE---------------------- */
.free {
  line-height: 1px;
  color: darkblue;
  font-weight: 400;
}



.subscriptions {
  margin-top: 2rem;
  display: flex;

}

.subscriptions h2 {
  color: darkblue;
  font-size: 15px;
  font-weight: 700;
  margin-top: 2rem;
  margin-left: 1rem;
}

.subscriptions p {
  margin-top: 0;
  font-size: 12px;
  margin-left: 1rem;
}

.Arcade,
.Advanced,
.pro {
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, .2);
  padding-right: 10px;
}

.Arcade:hover,
.Advanced:hover,
.pro:hover {
  border-color: darkblue;
  cursor: pointer;
  background-color: lightcyan;
}

.Advanced,
.pro {
  margin-left: .8rem;
}

.subscriptions img {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 4rem;
}

/* NEXT & BACK button styles */
.button {
  margin-top: 5rem;
  padding: 10px;
}


.back-button {
  margin-top: 5rem;
  padding: 0;
}

.back-button p {
  font-weight: 600;
  color: white;
  margin: 0;
}

.back-button p:hover {
  color: darkblue;
}

.next {
  margin-left: 15rem;

}

/* Switch toggler style */

.sub-type-box {
  display: flex;
  padding-bottom: 0rem;
  width: 420px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .03);

}

.month {
  margin-left: 4rem;
  margin-top: 1.5rem;
  color: gray;
  font-weight: 600;
}


.year {
  margin-left: auto;
  margin-top: 1.5rem;
  margin-right: 5rem;
  color: gray;
  font-weight: 600;
}


.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: darkblue;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
  left: 35px;
  bottom: 12px;
}

.react-switch-button {
  position: absolute;
  top: 2px;
  left: 02px;
  width: 45px;
  height: 45px;
  transition: 0.2s;
  border-radius: 45px;
}

.switch-label .react-switch-button {
  content: '';
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked+.switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-checkbox:checked+.switch-label {
  background-color: green;
}

.react-switch-button:active {
  width: 60px;
}


/* ----------------------------- ADD-On Styles ----------------- */


.addon-form {
  margin-top: 2rem;
}

.online-service {
  border: 1px darkblue;
}

.addon-price {
  color: blueviolet;
  font-size: 13px;
  margin-left: auto;
  margin-top: .5rem;
}

#addon {
  display: flex;
}

.form-control:hover {
  background-color: lightcyan;
}



/* ---------------------------- Summary Page styles ---------------- */

.summary {
  margin-top: 2rem;
  background-color: rgba(219, 218, 218, 0.2);
  border-radius: 15px;
  width: 50%;
  padding-bottom: .5rem;

}

.summary h6,
.p2,
.summary a,
.summary hr,
.summary p {
  margin-left: 1rem;
}

.summary h6 {
  padding-top: .5rem;
}

.summary a {
  line-height: 3px;
  font-size: 14px;
}

.summary p {
  font-size: 13px;
  opacity: .4;
}

.online-service {
  display: flex;
}

.online-service span {
  margin-left: auto;
  margin-right: 1rem;
}

.storage span {
  margin-left: auto;
  margin-right: 1rem;
}

.storage {
  display: flex;
  line-height: 3px;
}

/* ------- TOTAL SUMMARY----------------------- */
.total-summary {
  display: flex;
  width: 50%;
}

.summary-total {
  opacity: .4;
}

.summary-total-price {
  display: flex;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 1.9rem;
}

.p2 {
  line-height: 3px;
}

.summary hr {
  margin-right: 1rem;
}

.summary-total {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 13px;
}